.beerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  width: 100%;
}

.beerGrid a {
  text-decoration: none;
}

.notFound {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}