.formControl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.input {
  padding: 0.5rem;
  border: 0;
  border: 1px solid #000;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
}

.inputButton {
  padding: 0.5rem 1rem;
  color: #000;
  border: 1px solid #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border-left: 1px solid #5b5b5b;
}
