.card {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  max-width: 280px;
  max-height: 450px;
}

.cardImageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}

.cardImage {
  width: auto;
}

.item {
  padding-left: 0;
}