:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: #fff;
  color: black;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  border-bottom: 1px solid #000;
}

header nav a {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 1rem
}

header nav a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #000;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

li {
  display: block;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.inline li {
  border-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.formControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}

.formControl:first-child {
  margin: 0 0 1rem;
}

.input {
  padding: 0.5rem;
  border: 0;
  border: 1px solid #000;
  border-radius: 5px;
}

.inputButton {
  padding: 0.5rem 1rem;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
}