.imageInfo {
  height: 500px;
  width: 200px;
  position: relative;
}

.infoContainer {
  display: flex;
  padding: 1rem;
  min-height: 100vh;
}

.beerInfo {
  padding-left: 1rem;
}

.beerNutrition {
  border: 1px solid #000;
  padding: 0.5rem;
}

.hr {
  border-bottom: 0.4rem solid #000;
}

.serving {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .infoContainer {
    flex-direction: column;
  }
  .beerInfo {
    padding-left: 0;
  }
  .imageInfo {
    height: 300px;
    width: 100%;
  }
}