.sidebar {
  padding-right: 1rem;
  width: 180px;
}

.advancedSearchHidden {
  display: block;
}

.showAdvancedSearchButton {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  margin-bottom: 1rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-bottom: 1rem;
  }
  .advancedSearchHidden {
    display: none;
  }
  .showAdvancedSearchButton {
    display: block;
  }
}