.add_container {
  display: flex;
}

.labelContainer {
  max-width: 500px;
}

.infoSticky {
  position: sticky;
  top: 1rem;
}
.form {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .add_container {
    flex-direction: column;
  }
}